<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="container">

    <a class="navbar-brand" routerLink="/">EventMaster</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <!-- MENÚ SOLO SI ESTÁ LOGUEADO -->
      <ul class="navbar-nav me-auto" *ngIf="auth.estaLogueado()">

        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/eventoss">Eventos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/crear">Crear Evento</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/acerca-de">Acerca de</a>
        </li>

      </ul>

      <!-- BOTONES DERECHA -->
      <div class="ms-auto">

        <a *ngIf="!auth.estaLogueado()" 
           class="btn btn-outline-light"
           routerLink="/login">
           Login
        </a>

        <button *ngIf="auth.estaLogueado()" 
                class="btn btn-danger"
                (click)="logout()">
          Cerrar sesión
        </button>

      </div>

    </div>

  </div>
</nav>